/* ログイン画面全体のCSS */
.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.sign-up{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

img{
    width: 225px;
    height: 135px;
}

/*　ログイン,サインアップ画面共通 CSS */
label{
    font-weight: bold;
    color: #636363;
}

/* ログイン,サインアップの入力BOXのCSS */
.mail-input{
    margin-top: 20px;
}

.pass-input{
    margin-top: 20px;
}

.company-input{
    margin-top: 20px;
}

.user-input{
    margin-top: 20px;
}

.input-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40px;
    width: 500PX;
    border: 1px solid black;
    background-color: #e5e5e5;
}

.auth-button-container{
    margin-top: 30px;
}

.button-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    width: 225px;
    height: 40.5px;
    margin-bottom: 20px;
    background-color: #a7f0e9;
    color: #636363;
    border: 1px solid black;
    border-radius: 50px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

