<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <!-- faviconの画像を作ったら/static/img/にfavicon.icoで保存してコメントアウトを解除する
        <link rel="icon" href="../static/img/favicon.ico" />
        -->
        <link rel="stylesheet" href="{{ url_for('static', filename='gen/bundled.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;900&family=M+PLUS+1:wght@200&display=swap" rel="stylesheet">

    </head>
    <body>
    {% block body %}{% endblock %}{% include 'util/sidebar.html'%} 
    </body>
</html>