{% extends 'base.html' %} 

{% block title %}
room
{% endblock %}

{% block body %}
<div class="room-wrapper">
 <div class="sidebar"> </div>
 <div class="left-container">
  <div id="rooms-list">
    <ul class="channel-box">
    <!-- 
      {% for room in rooms %}
      <li>{{ room.name }}</li>
      {% endfor %}
    -->
    <li class = "roon-item">room1</li>
    <li class = "roon-item">room2</li>
    <li class = "roon-item">room3</li>
    <li class = "roon-item">room4</li>
    <li class = "roon-item">room5</li>
    </ul>
  </div>
 </div>
 <div class="right-container">
    <div class="channel-title">
      <h1>Home</h1>
    </div>
    <div id="messages-list">
     <ul class="message-box">
     <li class = "message-item">ここにidが一番新しいメッセージが表示される。未読は太字。</li>
     <li class = "message-item">ここにidが一番新しいメッセージが表示される。未読は太字。</li>
     <li class = "message-item">ここにidが一番新しいメッセージが表示される。未読は太字。</li>
     <li class = "message-item">ここにidが一番新しいメッセージが表示される。未読は太字。</li>
     <li class = "message-item">ここにidが一番新しいメッセージが表示される。未読は太字。</li>
     </ul>
    </div>
   </div>
 </div>
{% endblock %}