{% extends 'base.html' %} 

{% block title %}
room
{% endblock %}

{% block body %}
<div class="room-wrapper">
 <div class="sidebar"> </div>
 <div class="left-container">
  <div id="rooms-list">
    <ul class="room-box">
    <!-- 
    {% for room in rooms %}
    <li>{{ room.name }}</li>
    {% endfor %}
    -->
    {% for room in room_name %}
    <li class = "room-item-wrapper">
      <div class = "room-item">{{ room }}</div>
      <img class ="room-delete-icon" src="../static/img/trash.png" alt ="">
    </li>
    {% endfor %}
    <li class="room-item-wrapper">
      <form action="{{ url_for('room_create_page') }}" method="GET">
        <input type="image" src="../static/img/create_room.png" alt="" class="room-create-icon">
      </form>
      
    </ul>
  </div>
 </div>
 <div class="right-container">
    <div class="room-title-wrapper">
      <h1 id="room-title">room1</h1>
    </div>
    <div class="room-switch-wrapper">
      <form action="{{ url_for('room_create') }}" method="POST">
        <input type="image" src="../static/img/note-icon.png" alt="" class="note-icon">
      </form>
      <form action="{{ url_for('room_create') }}" method="POST">
       <input type="image" src="../static/img/chat-icon.png" alt="" class="chat-icon">
      </form>
      </div>
    <div class="messages-wrapper">
        <div class="typing-box-wrapper">
          <form action="{{url_for('room_create')}}" method="POST">
            <div class="message-input">
              <input class="message-input-box"
              type="message"
              name="message"
              id="message"
              />
            </div>
          </form>
            <form action="{{ url_for('room_create') }}" method="POST">
              <input type="image" src="../static/img/clip.png" alt="" class="clip-icon">
            </form>
            <form action="{{ url_for('room_create') }}" method="POST">
              <input type="image" src="../static/img/send.png" alt="" class="send-icon">
            </form>
        </div>
    </div>
  </div>
 </div>
{% endblock %}