
{% extends 'base.html' %} 

{% block title %}
room
{% endblock %}

{% block body %}

<div class="room-create">
    <h2>ルームの作成</h2>
    <form action="url_for{{('room_create')}}" method="POST"></form>
    <div class="room-input">
        <label for="room_name">ルームの名前</label>
        <p>
            <input class="room-input-box"
            type="text" 
            name="room-name"
            id="room_name"
            >
        </p>
    </div>
    <div class="room-members-input">
        <label for="user_name">ルームにメンバーを招待</label>
        <p>
            <input class="room-input-box"
            type="text"
            name="user_name"
            id="user_name">
        </p>
    </div>
    <div class="button-wrapper">
        <div class="room-create-button">
            <button 
            type="submit" 
            value="room-create"
            name="action">
            作成
            </button>
        </div>
    </div>
</div>