{% extends 'auth/base.html' %}
{% block title %}
login
{% endblock %}

{% block body %}
<!--
<img src="./image/profile_image.png" alt="プロフィール画像">
--> 
<!--
<img src="../../static/img/auth.png" alt="サンプル画像">
-->
<!--
<h1>Raretechハッカソン2025春</h1>
<p>Hチームのチャットアプリです。</p>
-->

<div class="login">
    <img src="../../static/img/langly-logo.png">
    <!--
    <h2 class = "section-title">Langly</h2>
    -->
    <div class="login-wrapper"></div>
        <form action="{{url_for('login_process')}}" method="POST">
            <div class="mail-input">
                <label for="mail">メールアドレス</label>
                <p>
                    <input class="input-box"
                    type="email"
                    name="email"
                    id="mail"
                    />
                </p>
            </div>
            <div class="pass-input">
                <label for="pass">パスワード</label>
                <p>
                    <input class="input-box"
                    type="password"
                    name="pass"
                    id="pass"
                    />
                </p>
            </div>
            <div class="auth-button-container">
                {% with messages = get_flashed_messages() %} {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %} {% endwith %}
                <div class="button-wrapper">
                    <div class="login-button">
                        <button 
                        type="submit" 
                        value="login"
                        name="action">
                        ログイン
                        </button>
                    </div>
                </div>
            </div>
        </form>
    <div class="sign-up-wrapper">
        <form action="{{url_for('signup_page')}}" method="POST"></form>
            <div class="button-wrapper">
                <div class="signup-button">
                    <button 
                    type="submit" 
                    value="signup"
                    name="action">
                    新規登録
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>
{% endblock %}