{% extends 'auth/base.html' %}
{% block title %}
login
{% endblock %}

{% block body %}
<!--
<img src="./image/profile_image.png" alt="プロフィール画像">
--> 
<!--
<img src="../../static/img/auth.png" alt="サンプル画像">
-->
<!--
<h1>Raretechハッカソン2025春</h1>
<p>Hチームのチャットアプリです。</p>
-->

<div class="auth_wrapper">
    <div class="login">
        <h2 class = "section-title">Langly</h2>
        <form action="{{url_for('login_process')}}" method="POST">
            <div class="mail_input">
                <label for="mail">メールアドレス</label>
                <p>
                    <input class="input_box"
                    type="text"
                    name="email"
                    id="mail"
                    />
                </p>
            </div>
            <div class="pass_input">
                <label for="pass">パスワード</label>
                <p>
                    <input class="input_box"
                    type="password"
                    name="pass"
                    id="pass"
                    />
                </p>
            </div>
            <div class="auth-button-container">
                {% with messages = get_flashed_messages() %} {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %} {% endwith %}
                <div class="button_wrapper">
                    <div class="login_button">
                        <button 
                        type="submit" 
                        value="login"
                        name="action">
                        ログイン
                        </button>
                    </div>
                    <div class="signup_button">
                        <button 
                        type="submit" 
                        value="signup"
                        name="action">
                        新規登録
                        </button>
                    </div>
                </div>
            </div>
        </form>
        
    </div>
</div>
{% endblock %}