{% extends 'auth/base.html' %}
{% block title %}
sign up
{% endblock %}

{% block body %}
    
<div class="sign-up">
    <img src="../../static/img/langly-logo.png">
    <div class="sign-up-wrapper">
        <h2 class = "section-title">新規アカウントを作成</h2>
        <p>既に登録済みの場合は、<a href="login.html">こちら</a>でログインしてください</p>
        <form action="{{url_for ('signup_process')}}" method="POST">
            <div class="company-input">
                <label for="company">会社名</label>
                <p>
                    <input 
                    type="text"
                    name="company-name"
                    id="company"
                    >
                </p>
            </div>
            <div class="user-input"></div>
                <label for="user">名前</label>
                <p>
                    <input 
                    type="text"
                    name="user"
                    id="user"
                    >
                </p>
            </div>
            <div class="mail-input"></div>
                <label for="mail">メールアドレス</label>
                <p>
                    <input 
                    type="text"
                    name="email"
                    id="mail"
                    >
                </p>
            </div>
            <div class="pass-input">
                <label for="pass">パスワード</label>
                <p>
                    <input 
                    type="password"
                    name="pass"
                    id="pass"
                    >
                </p>
            </div>
            <div class ="auth-button-container">
                {% with messages = get_flashed_messages() %} {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                    <li>
                        {{message}}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %} {% endwith %}
                <div class="sign_up">
                    <button 
                    type="submit" 
                    value="signup"
                    name="action">
                    新規登録
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}